.about__achievements{
    margin-top: 3rem;
}
.about__achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about__achievements-right >p{
    margin: 1.6rem 0 2.5rem;
}
.achievements__cards{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 1.5rem;
}
.achievement__cards{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.team{
    background:var(--color-bg2);
    box-shadow:inset 0 0 3rem rgb(0,0,0, 0.3)
}
.team__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    justify-content: fit;
}
/* -----media qurrey----tablet------ */
@media  screen and (max-width:1024px) {
    .container{
       width: var(--container-width-md);
    }
.about__achievements{
    margin-top: 2rem;
}
.about__achievements-container{
    grid-template-columns: 1fr;
    gap: 4rem;
}
.about__achievements-left{
    width: 80%;
    margin: 0 auto;
}
.team__container{
grid-template-columns: repeat(2,1fr);
gap: 1.5rem;
}
.team__member{
    padding: 1rem;
}

}


/* -------mobile------- */
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }
  .achievements__cards{
    grid-template-columns: 1fr 1fr;
    gap:0.7rem ;
  }
  .about__achievements-left{
    width: 50%;
    margin: 0;
}
.achievements__cards{
    display: grid;
    grid-template-columns: repeat(1 1fr);
    gap: 0.3rem;
}
}
